.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1rem;
}

.right {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}