.sort-toggler {
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-sm);
    background-color: var(--filter-btn-bg);
    border-radius: var(--br-circle);
    border: none;
    outline: none;
}

.sort-toggler:hover {
    cursor: pointer;
}