.prompt-title {
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-light);
    cursor: pointer;
    text-overflow: ellipsis;
}

.title-input {
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--neutral-light);
    border-radius: 4px;
    padding-inline: 4px;
    outline: none;
    max-width: 100%;
    box-sizing: border-box;
}

.text-measurer {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre;
    padding-inline: 4px;
    box-sizing: border-box;
}