.prompt-title {
    font-size: var(--fs-regular);
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-light);
    cursor: pointer;
    text-overflow: ellipsis;
}

.title-input {
    max-width: 100%;
    field-sizing: content;
    min-width: 0;
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--text-light);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--neutral-light);
    outline: none;
    box-sizing: border-box;
}