.title-container {
    position: relative;
    width: fit-content;
}

.title-container::after {
    visibility: visible;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
}

.title-container.hidden::after {
    visibility: hidden;
}