@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Order
positioning (display, position, z-index, top, right, flexbox, grid, ...)
box model (margin, border, padding, width, height)
typography (font-family, font-size, font-weight, line-height, color, text-align, ...)
visual (background, box-shadow, border-radius, opacity, ...)
interaction (cursor, pointer-events, ...)
transition & animation (transition, transform, animation, ...)
*/


:root {
    /* === Font Family === */
    --ff: 'Roboto Mono', sans-serif;

    /* === Typography === */
    /* Font Sizes */
    --fs-regular: 1rem;
    --fs-semi-medium: 1.25rem;
    --fs-medium: 1.5rem;
    --fs-semi-large: 1.75rem;
    --fs-large: 2rem;
    --fs-form: 1.1rem;

    /* Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* === Color Palette === */
    --primary: #4d55cc;
    --secondary: #211c84;
    --accent: #B5A8D5;
    --accent-hover: #fbb34f;
    --neutral-light: #ECF0F1;
    --neutral-dark: #1e1e1e;
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-grey: #cccccc;
    --prompt-btn-hover: rgba(77, 85, 204, 0.95);
    --filter-btn-bg: rgba(0, 0, 0, 0.1);
    --close-btn-bg: #DB0000;
    --close-btn-border: #8D0202;

    /* === Spacing === */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-sm-75: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* === Border Radius === */
    --br: 0.75rem;
    --br-chip: 4rem;
    --br-circle: 50%;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff);
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    background-color: var(--neutral-light);
}

