.tooltip-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
    background-color: var(--neutral-dark);
    border-radius: var(--br);
    border: none;
    outline: none;
}

.tooltip-text {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--text-light);
}