.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: var(--spacing-sm);
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
    overflow-y: auto;
}
